@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$Cyan: hsl(179, 62%, 43%);
$Bright-Yellow: hsl(71, 73%, 54%);
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    width: 100vw;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    background-color: $Light-Gray;
    display: flex;
    justify-content: center;
    align-items: center;
}