@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  background-color: #e5eff5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 750px) {
  body .container {
    margin-top: 0;
    width: 648px;
    height: 55vh;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  body .container .card {
    padding: 2rem;
    gap: 1.5rem;
  }
  body .container .card:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / span 1 / span 2;
  }
  body .container .card:nth-child(2) {
    border-radius: 0 0 0 10px;
  }
  body .container .card:nth-child(3) {
    border-radius: 0 0 10px 0;
  }
  body .container .card:nth-child(1) h3 {
    font-size: 1.6rem;
  }
  body .container .card:nth-child(1) h4 {
    font-size: 1.3rem;
  }
  body .container .card:nth-child(2) button {
    height: 3rem;
    margin-top: 1.5rem;
  }
}

.container {
  margin-top: 2rem;
  width: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  border-radius: 10px;
  background-color: white;
}

.container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.container .card h3 {
  font-weight: 700;
}

.container .card:nth-child(1) h3 {
  color: #2ab2af;
}

.container .card:nth-child(1) h4 {
  color: #c0df34;
}

.container .card:nth-child(1) p {
  line-height: 1.5rem;
  color: #98a6bd;
}

.container .card:nth-child(2) {
  background-color: #58B4B2;
  color: white;
}

.container .card:nth-child(2) .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .card:nth-child(2) .price .cost {
  height: 2rem;
  font-size: 2rem;
  padding-right: 1rem;
}

.container .card:nth-child(2) span:nth-child(2) {
  color: #e5eff5;
}

.container .card:nth-child(2) h4 {
  font-weight: 400;
  color: #e5eff5;
}

.container .card:nth-child(2) button {
  height: 2.5rem;
  color: white;
  font-weight: 700;
  border: none;
  background-color: #c0df34;
  border-radius: 5px;
  margin-top: 1rem;
  box-shadow: 1px 2px 27px 2px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 1px 2px 27px 2px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 1px 2px 27px 2px rgba(0, 0, 0, 0.53);
}

.container .card:nth-child(3) {
  background-color: #5EBFBE;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .card:nth-child(3) p {
  width: 60%;
  color: #e5eff5;
}
/*# sourceMappingURL=style.css.map */